<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhanghao.dao.GankDao">

    <resultMap id="BaseResultMap" type="com.zhanghao.entity.GankFavItem">
        <id column="_id" jdbcType="VARCHAR" property="_id" />
        <result column="createdAt" jdbcType="VARCHAR" property="createdAt" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
        <result column="images" jdbcType="VARCHAR" property="images" />
        <result column="publishAt" jdbcType="VARCHAR" property="publishedAt" />
        <result column="source" jdbcType="VARCHAR" property="source" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="used" jdbcType="INTEGER" property="used" />
        <result column="who" jdbcType="VARCHAR" property="who" />
    </resultMap>



    <!--<resultMap id="tagResultMap" type="com.zhanghao.entity.Tag">-->
        <!--<id column="id" jdbcType="INTEGER" property="id" />-->
        <!--<result column="type" jdbcType="VARCHAR" property="type" />-->
    <!--</resultMap>-->


    <select id="selectFavByType" resultMap="BaseResultMap">
      SELECT *
      FROM
      favorite,user_fav
      WHERE
      favorite._id = user_fav._id
      AND user_fav.userId = #{userId}
      AND favorite.type = #{type}
      LIMIT #{offset},#{count};
    </select>

    <select id="selectFavIdsByUserId" resultType="String">
            SELECT _id
            FROM user_fav
            WHERE userId=#{userId};
    </select>


    <select id="selectFavIdsByUserIdAndType" resultType="String">
        SELECT user_fav._id
        FROM user_fav,favorite
        WHERE userId=#{userId}
        AND favorite.type=#{type}
        ;
    </select>


    <!--收藏-->

    <insert id="addOneFav" parameterType="GankFavItem">
        INSERT ignore INTO favorite
        VALUES (#{_id},#{createdAt},#{desc},#{images},#{publishedAt},#{source},#{type},#{url},#{used},#{who});
    </insert>


    <insert id="addOneFav_User">
        INSERT ignore INTO user_fav(userId,_id)
        VALUES (#{userId},#{fav_id})
    </insert>

    <delete id="deleteOneFav_User">
        DELETE FROM user_fav
        WHERE userId=#{userId}
        AND _id=#{_id};
    </delete>





    <!--浏览记录-->

    <insert id="addOneHis" parameterType="GankFavItem">
        INSERT ignore INTO history
        VALUES (#{_id},#{createdAt},#{desc},#{images},#{publishedAt},#{source},#{type},#{url},#{used},#{who});
    </insert>


    <select id="selectHisTypeByUserId" resultType="String">
        SELECT type
        FROM user_his , history
        WHERE user_his.userId=#{userId}
        AND user_his._id = history._id
        ;
    </select>



    <insert id="addOneHis_User">
        INSERT ignore INTO user_his(userId,_id)
        VALUES (#{userId},#{_id})
    </insert>


    <insert id="addOneTag_User">
          INSERT ignore INTO user_tag(userId,tagId)
        VALUES (#{userId},#{tagId})
    </insert>


    <select id="selectUserTagsByUserId" resultType="String">
        SELECT type
        FROM tags,user_tag
        WHERE user_tag.userId = #{userId}
        AND user_tag.tagId = tags.id;
    </select>


    <select id="selectAllTags" resultType="com.zhanghao.entity.Tag">
        SELECT *
        FROM tags;
    </select>

    <select id="selectTagByTagId" resultType="String">
        SELECT type
        FROM tags
        WHERE id = #{id};
    </select>

</mapper>