<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd ">
    <!--配置springMvc-->
    <!--1:开启springmvc注解模式-->
    <!--简化配置，
        1自动注册DefultAnnotationHandler-Mapping,AnnotationMethodHandlerAdapter
        2默认提供了一系列：数据绑定，数字，和日期的format  @number @numberFormmter @DataTimeFormat
        3.默认xml，json读写支持
    -->
    <mvc:annotation-driven/>

    <!--2.serlet-mapping 映射的路径：“/”-->
    <!--静态资源默认配置servlet配置
        1.加入对静态资源的处理：js image
        2.允许使用  /  做整体的映射
    -->
    <mvc:default-servlet-handler/>

    <!--3:jsp 显示ViewResolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!--4:扫描web相关的bean-->
    <context:component-scan base-package="com.zhanghao.web"/>
    <context:component-scan base-package="com.zhanghao.entity"/>
    <context:component-scan base-package="com.zhanghao.model"/>


    <!--5.映射本地资源-->
    <mvc:resources  location="/WEB-INF/resource/" mapping="/resources/**"/>


    <!--6.文件上传的viewResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485761" />
        <property name="maxInMemorySize" value="100000" />
    </bean>
</beans>